#menu{
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			-webkit-box-shadow:2px 2px 4px #888;
			-moz-box-shadow:2px 2px 4px #888;
		}
		#menu li{border-bottom:3px solid #FFF;}
		#menu ul li, #menu li:last-child{border:none}	
		a{
		/* letras*/
			display:block;
			color:#FFF;
			text-decoration:none;
			font-family:'Helvetica', Arial, sans-serif;
			font-size:13px;
			padding:1px 1px;
			text-shadow:1px 1px 1px #325179;
		}
		#menu a:hover{
		/** letras al posicionarse*/
			color:#be0000;
			-webkit-transition: color 0.2s linear;
		}
		#menu ul a{
		/* bloque sub menu*/
		background-color:#0066CC;}

		#menu ul a:hover{
		/* bloque sub menu al superponerse*/
			background-color:#ccc;
			color:#2961A9;
			text-shadow:none;
			-webkit-transition: color, background-color 0.2s linear;
		}
		ul{
			display:block;
			background-color:#262b38;
			margin:0;
			padding:0;
			width:160px;
			list-style:none;
		}
		#menu ul{background-color:#6594D1;}
		#menu li ul {display:none;}