
body { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #BE0000;
	/*font-weight: bold;*/
/*	color: #222;*/
	
}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #BE0000;
	letter-spacing: 2px;
	text-shadow: 0px 2px 3px #000;

}
.tabla0
{

}
table a, table, tbody, tfoot, tr, th, td, table caption {
	font-family: Verdana, arial, helvetica, sans-serif;
	background:#262b38;
	color:#fff;
	text-align:left;
	font-size:12px;
}
table, table caption {
	border-left:1px solid #567;
	border-right:1px solid #000;
}
table {
	border-top:1px solid #567;
	border-bottom:1px solid #000;
}
table caption {
	border-top:1px solid #567;
	border-bottom:1px solid #000;
	font-size:20px;
	font-weight:bold;
}
table, td, th {
	margin:0px;
	padding:0px;
}
tbody td, tbody th, tbody tr.odd th, tbody tr.odd td {
	border:1px solid;
	border-color:#567 #000 #000 #567;
}
td, th, table caption {
	padding:1px;
	vertical-align:middle;
}


.menu {
	font-family:  Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.texto2 {
	font-family: , Helvetica, sans-serif;
	font-size: 13px;
	color: #C38903;
	font-weight: bold;
}
.tienda {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	}
.tienda2 {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	
	}
.direccion{
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #BE0000;
	font-weight: bold;
		
}
.telf{
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
			
}
.texto7{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #284D8E;
	font-weight: bolder;
			
}
.texto8{
	font-family:  Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	color: #BE0000;
			
}
.texto9{
	font-family:  Helvetica, sans-serif;
	font-size: 31px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform:uppercase;
	
			
}
.texto10{
	font-family:  Helvetica, sans-serif;
	font-size: 31px;
	letter-spacing: 0px;
	color: #BE0000;
	text-transform:uppercase;
}
.texto11{
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #000066;
	font-weight: bold;
}
.texto12{
	font-family: Helvetica, sans-serif;
	font-size: 35px;
	color: #971C17;
	font-weight: bold;
}
.formulario
{
	font-family:  Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0px;
	color: #000066;
	text-decoration: none;
	font-weight:bold;
}
.url
{
	font-family:  Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	color: #ffffff;
	
}
.datos
{
	font-family:  Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}

a.enlace1:link {
	font-family:  Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-decoration: none;
	fo?nt-weight:bold;
}
a.enlace1:visited {
	font-family:  Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
a.enlace1:hover {
	font-family:  Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0px;
	color: #BE0000;
	text-decoration: none;
	font-weight:bold;
}

a.enlace:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-style: italic;
	
}
a.enlace:visited {
	font-family:  "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-style: italic;
	
}
a.enlace:hover {
	ffont-family: sans-serif;
	font-size: 19px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-style: italic;
	line-height: normal;
	font-family: "Times New Roman", Times, serif;
	
}
a.evento:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	color: #00EEFF;
	text-align: justify;
	font-weight:bold;
	text-decoration: none;
	font-style: italic;
	
}
a.evento:visited {
	font-family:  "Times New Roman", Times, serif;
	font-size: 15px;
	color: #00EEFF;
	text-align: justify;
	font-weight:bold;
	text-decoration: none;
	font-style: italic;
	
}
a.evento:hover {
	ffont-family: sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-style: italic;
	font-weight:bold;
	line-height: normal;
	font-family: "Times New Roman", Times, serif;
	
}


a.enlace2:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
a.enlace2:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
a.enlace2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
		font-weight:bold;
}
a.direccion:link {
	font-family: , Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	
}
a.direccion:visited {
	font-family: , Helvetica, sans-serif;
	font-size: 13px;
	color: #C38903;
	font-weight: bold;
	
}
a.direccion:hover {
	font-family: , Helvetica, sans-serif;
	font-size: 13px;
	color: #BE0000;
	font-weight: bold;
	text-decoration: none;	
}
.tabla{
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	
	border-collapse:collapse;
	 border: none;
	/*font-weight: bold;*/
}
.celda
{
border-collapse:collapse;
	 border: none;
	  background: #000;
	  text-align:center;
}
.tablaventas{
font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #BE0000;
	/*font-weight: bold;*/
}
#boton {
    font-weight: bold;
	color: #ff0000;
    cursor: pointer;
    padding: 3px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #000;
    border-radius: 5px 5px 5px 5px;
}

#boton:hover {
    background: #333;
}
.info, .exito, .alerta, .error {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.mjs_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.mjs_exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('exito.png');
}
.mjs_alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('alerta.png');
}
.mjs_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
