html { 
  background: url(../imgs/00.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#sddm
{	margin: auto;
	padding: 0;
	z-index: 30;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 10px arial;
	z-index: 30;}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 0px;
	width: 100px;
	background: url(imgs/bg_trans1.png) repeat center center;
	background: #000000; /*fondo de la celda*/
	color: #FFFFFF;/*color de la letra*/
	text-align: center;
	text-decoration: none;
	z-index: 30;
	}

#sddm li a:hover
{	background: #49A3FF;
    z-index: 30;

}/*fondo cuando esta el cursor arriba*/

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	/*background: url(../imgs/bg_trans.png) repeat center center;*/
	background: #000000;
	border: 0px solid #ffffff;/*0 para eliminar el borde del menu que no tiene submenu*/
	z-index: 30;
	}
	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
/*		width: 150px;*/
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
/*		background: url(imgs/bg_trans1.png) repeat center center;*/
		background: #000000;/*fondo de la celda del sub menu
		color: #ffffff;/*color de letra del sub menu */
		font: 12px arial}

	#sddm div a:hover
	{
	/*background: url(../imgs/bg_trans.png) repeat center center;*/
		background: #49A3FF;
		width: auto;
		text-align: center;
		color: #000;
	}



.texto
{
	text-align:center;
	font-face:arial;
	font: 15px arial;
	font-weight:bold;
	
}


	
img {border:none;}
#titulo
{	color: #49A3FF;
	width:400px;
	height:50px;
	top: 15px;
	font: 30px arial;
	font-weight:bold;
	text-align:center;
	position:relative;
z-index:0;

}

.subtitulo
{
	color: #49A3FF;
	font: 20px arial;
	font-weight:bold;
	text-align:left;
}

#desc
{
	top:20px;
	/*background:#0000ff;*/
	font: 15px arial;
	text-align:center;
	position:relative;
	width:380px;
	height:380px;
	margin: 0;
	padding: 5px 20px;
	margin-left: 0px;
	margin-right: auto;

}
#management
{
	top:30px;
	font: 15px arial;
	text-align:center;
	position:relative;
	width:400px;
	height:400px;
	margin: 0;
	padding: 5px 5px;
	margin-left: 0 px;
	margin-right: auto;
	z-index:0;
	left: 441px;

}
#resenia
{
	top:10px;
	font: 15px arial;
	text-align:justify;
	position:relative;
	width:220px;
	height:300px;
	margin: 0;
	padding: 5px 5px;
	
	margin-right: auto;
	z-index:30;
	left:230px;

}
.exp
{
	
	font: 12px arial;
	text-align:justify;
	
}


.nombre
{
	color: #49A3FF;
	font: 18px arial;
	font-weight:bold;
	text-align:center;
}
.cargo
{
	color: #000000;
	font: 15px arial;
	font-weight:bold;
	text-align:center;
}
a.gerencia:link {
	color: #000000;
	font: 15px arial;
	
	text-align:center;
	text-decoration: none;
		
}
a.gerencia:visited {
	color: #000000;
	font: 15px arial;
	
	text-align:center;
	text-decoration: none;
		
}
a.gerencia:hover {
	color: #000000;
	font: 15px arial;
	
	text-align:center;
	text-decoration: underline;
		
}
/*--------------------------*/

#menu ul li a
{text-decoration:none;
color:white;
display:block;
}
#menu ul li a:hover
{background-color:gree;
}
#menu ul ul
{position:absolute;
display:none;
}
#menu ul ul ul
{display:block;
}
 
	